<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p></p>
    <form action="add" class="form control" method="post">
      <label for="content">Article Content: </label>
      <input type="text" class="content" name="content">
      <br />
      <label for="department">Article department: </label>
      <input type="text" class="department" name="department">
      <input type="submit">
    </form>
  </body>
</html>
